@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Raleway:wght@400;500;900&display=swap');

//colours
$col-white: #f7f7f7;
$col-primary: #15203e;
$col-secondary: #fffcf7;

//fonts
$font-heading: 'Raleway', sans-serif;
$font-primary: 'Lato', sans-serif;
